.lineWrapper {
	display: grid;

	overflow: hidden;
	align-items: center;

	width: 100%;

	background: var(--dark);
}

@keyframes rolll {
	0% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}

.line {
	display: grid;

	width: 1000px;
	height: 50px;

	animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.red {
	animation-name: roll;

	background: var(--like);
}

.blue {
	transform: translateX(-100%);

	animation-name: roll;
	animation-delay: 5s;

	background: var(--primary);
}

.button {
	width: 50px;
}
