.lineWrapper {
	display: grid;

	overflow: hidden;
	align-items: center;

	width: 100%;
	padding: 20px 0 20px 0;

	background: var(--dark);
}

.lineWrapper > * {
	grid-area: 1/1;
}

@keyframes rollRight1 {
	0% {
		transform: translateX(0);
		animation-timing-function: cubic-bezier(1, 1, 1, 1);
	}

	100% {
		transform: translateX(200%);
	}
}

@keyframes rollRight2 {
	0% {
		transform: translateX(-100);
		animation-timing-function: cubic-bezier(1, 1, 1, 1);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes rollRight3 {
	0% {
		transform: translateX(-200%);
		animation-timing-function: cubic-bezier(1, 1, 1, 1);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes rollLeft1 {
	0% {
		transform: translateX(0);
		animation-timing-function: cubic-bezier(1, 1, 1, 1);
	}

	100% {
		transform: translateX(-200%);
	}
}

@keyframes rollLeft2 {
	0% {
		transform: translateX(100);
		animation-timing-function: cubic-bezier(1, 1, 1, 1);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes rollLeft3 {
	0% {
		transform: translateX(200%);
		animation-timing-function: cubic-bezier(1, 1, 1, 1);
	}

	100% {
		transform: translateX(0);
	}
}

.line {
	display: grid;

	grid-template-columns: repeat(6, 1fr);

	align-items: center;
	justify-items: center;

	width: 100%;

	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.fast {
	animation-duration: 60s;
}

.medium {
	animation-duration: 65s;
}

.slow {
	animation-duration: 80s;
}

.right {
	animation-name: rollRight1;
}

.left {
	animation-name: rollLeft1;
}

.line > svg {
	height: 30px;
	fill: var(--white);
}

.line2Right {
	transform: translateX(-100%);
	animation-name: rollRight2;
}

.line2Left {
	transform: translateX(100%);
	animation-name: rollLeft2;
}

.line3Right {
	transform: translateX(-100%);
	animation-name: rollRight3;
}

.line3Left {
	transform: translateX(100%);
	animation-name: rollLeft3;
}

.button {
	width: 50px;
}

@media (max-width: 930px) {
	.line > svg {
		height: 25px;
	}
}

@media (max-width: 830px) {
	.line > svg {
		height: 20px;
	}
}

@media (max-width: 660px) {
	.line > svg {
		height: 15px;
	}
}

@media (max-width: 500px) {
	.lineWrapper {
		padding: 15px 0 15px 0;
	}

	.line > svg {
		height: 10px;
	}
}

@media (max-width: 330px) {
	.line > svg {
		height: 7px;
	}
}

@media (max-width: 220px) {
	.lineWrapper {
		padding: 10px 0 10px 0;
	}

	.line > svg {
		height: 5px;
	}
}
