.label {
	position: relative;

	display: grid;
	align-items: center;

	width: 90%;
	margin-left: -25px;
}

.icon {
	position: absolute;

	right: 0;

	width: 20px;
	height: fit-content;

	margin-right: -10px;

	cursor: pointer;
	transition-duration: 300ms;

	fill: var(--dark);
}

.icon:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--primary);
}
