.counterWrapper {
	display: grid;
	align-items: center;

	width: 200px;
	height: 100px;
	margin-left: 20px;
	padding: 10px;

	border: 3px solid var(--primary);
	border-radius: 20px;
	background: var(--dark);
	justify-items: center;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.counter {
	color: var(--primary);
}
