.userContentItem {
	width: 100% - 15px;
	margin-top: 40px;
	padding: 15px;

	transition-duration: 300ms;

	border-radius: 20px;
	background: var(--white);
	box-shadow: 0 118px 47px rgba(0, 0, 0, 0.01), 0 66px 40px rgba(0, 0, 0, 0.05), 0 29px 29px rgba(0, 0, 0, 0.09), 0 7px 16px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
}

.darkThemeUserContentItem {
	transition-duration: 300ms;

	background: var(--dark);
}

.userContentImage {
	width: 100%;
	height: max-content;

	cursor: pointer;

	border-radius: 10px;
}

.userContentImageFull {
	cursor: pointer;

	border-radius: 10px;
}

.widthFull {
	width: max-content;
	height: 80vh;
}

.heightFull {
	width: 80vw;
	height: max-content;
}

.userContentText,
.userContentTextBoth {
	margin: 0 20px;

	transition-duration: 300ms;

	word-wrap: break-word;

	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
}

.userContentTextBoth {
	margin-top: 20px;
}

.darkThemeUserContentText,
.darkThemeUserContentTextBoth {
	transition-duration: 300ms;

	color: var(--white);
}

@media (max-width: 580px) {
	.userContentItem {
		padding: 10px;
	}

	.userContentText {
		margin: 0 10px;
	}

	.userContentTextBoth {
		margin: 10px 10px 0 10px;
	}
}

@media (max-width: 300px) {
	.userContentItem {
		padding: 5px;

		border-radius: 15px;
	}

	.userContentImage {
		width: 100%;
		height: max-content;

		cursor: pointer;

		border-radius: 10px;
	}

	.userContentImageFull {
		cursor: pointer;

		border-radius: 10px;
	}
}
