.changeTheme {
	position: fixed;
	top: 60px;
	right: 0;

	margin: 10px 15px 0 0;

	cursor: pointer;

	transition-property: color, background-color;
	transition-duration: 300ms;

	color: var(--dark);

	font-size: 1.5rem;
	line-height: 2rem;
	z-index: 9999;

	display: grid;
	align-items: center;
	background: var(--white);
	padding: 7px;
	border-radius: 9999px;
}

.changeTheme:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.darkChangeTheme {
	background: var(--darkTheme);
	color: var(--white);
}

@media (min-width: 1024px) {
	.changeTheme:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 580px) {
	.changeTheme {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
