.changeTheme {
	display: grid;
	align-items: center;

	padding: 4px;
	
	border-radius: 9999px;
	background: var(--white);
	transition-duration: 300ms;
	transition-property: color, background-color, fill;

	justify-items: center;
}

.changeTheme > svg {
	width: 30px;
		height: 30px;
	cursor: pointer;
	transition-duration: 300ms;

	transition-property: color, background-color, fill;
	fill: var(--dark);
}

.changeTheme > svg:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--primary);
}

.darkChangeTheme {
	transition-duration: 300ms;

	background: var(--darkTheme);
}

.darkChangeTheme > svg {
	fill: var(--white);
}

@media (min-width: 1024px) {
	.changeTheme > svg:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		fill: var(--primary);
	}
}
