.userIcon {
	width: 30px;
	height: 30px;
	margin-right: 20px;

	cursor: pointer;

	user-select: none;

	transition-duration: 300ms;

	border-radius: 9999px;

	background: var(--primary);
}

.userIcon:active {
	filter: brightness(0.7);

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1024px) {
	.userIcon:hover {
		filter: brightness(0.7);

		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media (max-width: 580px) {
	.userIcon {
		width: 25px;
		height: 25px;
		margin-right: 15px;
	}
}
