.input {
	width: 256px;
	background: var(--white);
	color: var(--primary);
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 5px;
	border: 1px solid var(--dark);
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
	border-radius: 9999px;
	padding-left: 20px;
	transition-duration: 300ms;
}

.input:hover {
	border-color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.input:focus {
	outline-color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.error_input {
	width: 256px;
	background: var(--white);
	color: var(--primary);
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 5px;
	border: 1px solid var(--error);
	outline: 1.5px solid var(--error);
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
	border-radius: 9999px;
	padding-left: 20px;
	transition-duration: 300ms;
}

@media (max-width: 300px) {
	.input {
		width: 200px;
	}

	.error_input {
		width: 200px;
	}
}