.profileActionsBar {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    justify-items: center;
    width: 50%;
    margin-top: 20px;
}

@media (max-width: 1024px) {
	.profileActionsBar {
		width: 70%;
	}
}

@media (max-width: 580px) {
	.profileActionsBar {
		width: 80%;
	}
}