.enterCodeForm {
    width: fit-content;
    border-radius: 20px;
    padding: 30px 20px;
    background: var(--light);
    margin-left: 20px;
}

.enterChar {
    width: 35px;
    height: 50px;
    background: var(--lighter);
    border-radius: 10px;
    border: 1px solid var(--dark);
    text-align: center;
    font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5rem;
    border-width: 0;
    margin: 0 3px 0 3px;
}

.enterChar:focus {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	outline-color: var(--primary);
}

.error {
    outline: 2px solid var(--error);
}

.error:focus {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	outline-color: var(--error);
}