.searchUserItem {
	display: grid;
	align-items: center;

	margin: 5px 10px;
	padding: 3px 5px;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 10px;
	grid-template-columns: auto 1fr;
	gap: 10px;
}

.searchUserImage {
	width: 30px;
	height: 30px;

	border-radius: 9999px;
	background: var(--primary);
}

.userInfo {
	display: grid;
	grid-template-columns: auto;
}

.name {
	color: var(--primary);

	font-weight: 600;
}

.searchUserItem:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--lighter);
}

@media (min-width: 1024px) {
	.searchUserItem:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--lighter);
	}
}

@media (max-width: 580px) {
	.searchUserImage {
		width: 25px;
		height: 25px;
	}
}
