.addImage {
	display: grid;
	align-items: center;

	width: 150px;
	height: 150px;
	margin: 40px;

	cursor: pointer;

	border-radius: 9999px;
	background: var(--white);
	justify-items: center;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.addImage > svg {
	width: 70%;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.darkThemeAddImage {
	background: var(--darkTheme_light);
}

.darkThemeAddImage > svg {
	fill: var(--darkTheme_light);
}

.verify {
	display: grid;
	align-items: center;
	justify-items: center;

	fill: var(--primary);

	width: 80px;
	height: fit-content;
}

.verifyText {
	font-weight: 500;
}

.darkThemeVerifyText {
	color: var(--white);
}

@media (max-width: 580px) {
	.addImage {
		width: 100px;
		height: 100px;
	}
}
