.profileStatText {
	font-weight: 600;
}

.stat {
	color: var(--primary);
}

@media (max-width: 850px) {
	.profileStatText {
		font-size: 0.6rem;
		line-height: 1rem;
	}
}

@media (max-width: 580px) {
	.profileStatText {
		font-size: 0.55rem;
		line-height: 1rem;
	}
}

@media (max-width: 300px) {
	.profileStatText {
		font-size: 0.45rem;
		line-height: 1rem;
	}
}
