.button {
	width: 100%;

	margin-top: 15px;
	padding: 5px;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
	border: none;
	border-radius: 9999px;
	background: var(--primary);

	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
}

.button:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
	outline: 1px solid var(--primary);
	background: var(--white);
}

.button_loading {
	align-content: center;
	align-items: center;
	align-self: center;

	width: 100%;
	margin-top: 15px;
	padding: 5px;

	cursor: not-allowed;
	transition-duration: 300ms;

	color: var(--primary);
	border: none;
	border-radius: 9999px;
	outline: 1px solid var(--primary);
	background: var(--white);

	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
}

@media (min-width: 1024px) {
	.button:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
		outline: 1px solid var(--primary);
		background: var(--white);
	}
}
