.textBlock {
    width: 100%;
    height: 80vh;
    margin-bottom: 20px;
}

.imageBlock {
    width: 100%;
    height: 80vh;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    margin-bottom: 20px;
}

.duoBlock {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 1024px) {
    .textBlock {
        height: 40vh;
    }
    
    .imageBlock {
        height: 40vh;
    }
}

@media (max-width: 580px) {
    .textBlock {
        width: 100%;
        height: 70vh;
        margin-bottom: 10px;
    }
    
    .imageBlock {
        height: 70vh;
        margin-bottom: 10px;    
    }

    .duoBlock {
        grid-template-columns: 100%;
    }
}