.formChange {
	width: fit-content;
	margin-bottom: 20px;
}

.signSpan {
	color: var(--dark);
	cursor: pointer;
	font-weight: 800;
	user-select: none;
	transition-duration: 300ms;
}

.signSpan:hover {
	color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}