.formChange {
	width: fit-content;
	margin-top: 80px;
}

.signSpan {
	color: var(--dark);
	cursor: pointer;
	font-weight: 600;
	user-select: none;
	transition-duration: 300ms;
}

.signSpan:active {
	color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.authChange {
	text-align: center;
}

@media (min-width: 1024px) {
	.signSpan:hover {
		color: var(--primary);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}