.headerContent {
	position: fixed;
	z-index: 10001;

	display: grid;
	align-items: center;

	width: 100%;
	padding: 10px 0 10px 0;

	transition-duration: 300ms;

	background: var(--white);
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.darkThemeHeaderContent {
	transition-duration: 300ms;

	background: var(--dark);
}

.headerPositionRight {
	justify-items: right;
	grid-template-columns: 1fr auto auto;
}

.headerPositionLeft {
	justify-items: left;
	grid-template-columns: auto 1fr;
}
