.profileInfo {
	display: grid;

	width: 100%;
	margin-top: 50px;
	justify-items: center;
}

.username {
	margin-top: 20px;
	cursor: pointer;
}

.userSpecificies {
	margin-top: 5px;

	font-weight: 500;
}

.userSpeciality {
	background: linear-gradient(266.81deg, #6100FF 6.74%, #8400EC 49.69%, #FF00C7 93.54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.userInfo {
	max-width: 300px;
	margin-top: 20px;

	text-align: center;

	font-weight: 500;

	cursor: pointer;
}

@media (max-width: 580px) {
	.userInfo {
		max-width: 200px;
	}
}
