.profileInfo {
    width: 100%;
    display: grid;
    justify-items: center;
    margin-top: 50px;
}

.username {
    margin-top: 20px;
}

.userSpecificies {
    font-weight: 500;
    margin-top: 5px;
}

.userSpeciality {
    background: linear-gradient(266.81deg, #6100FF 6.74%, #8400EC 49.69%, #FF00C7 93.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.userInfo {
    text-align: center;
    max-width: 300px;
    font-weight: 500;
    margin-top: 20px;
}

@media (max-width: 580px) {
	.userInfo {
		max-width: 200px;
	}
}