.profileInfo {
	display: grid;

	width: 100%;

	justify-items: center;
}

.usernameBlock {
	z-index: 10000;

	display: grid;
	align-items: center;

	margin-top: 20px;
	grid-template-columns: 1fr auto;
}

.username {
	cursor: pointer;
	transition-duration: 300ms;
}

.verify {
	display: grid;

	width: 25px;
	height: fit-content;
	margin: 0;

	cursor: pointer;

	fill: var(--primary);
}

.userInfo {
	z-index: 10000;

	display: -moz-box;
	display: -webkit-box;
	overflow: hidden;

	max-width: 300px;

	margin-top: 15px !important;

	cursor: pointer;
	transition-duration: 300ms;

	text-align: center;
	text-overflow: ellipsis;

	font-weight: 500;
	-moz-box-orient: vertical;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-clamp: 3;
}

.userInfo:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	-webkit-line-clamp: 10;
	line-clamp: 10;
}

.darkThemeText {
	transition-duration: 300ms;

	color: var(--white) !important;
}

@media (min-width: 1024px) {
	.moreInfo:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 580px) {
	.userInfo {
		max-width: 200px;
	}

	.username {
		font-size: 1.5rem !important;
		line-height: 2rem !important;
	}
}
