.backButton {
	position: fixed;

	z-index: 9999;
	top: 0;
	left: 0;

	display: grid;
	align-items: center;

	width: 70px;
	height: 100vh;

	cursor: pointer;

	justify-items: center;
}

.backButton:active > div {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform: translate(0%, 0%);

	background: rgba(31, 31, 31, 0.2);
	filter: blur(40px);
}

.arrowBack {
	position: absolute;
	z-index: 99999;

	color: var(--white);

	font-size: 3rem;
	line-height: 1;
}

.blurBlock {
	width: 100%;
	height: 100%;

	transition-duration: 300ms;
	transform: translate(-90%, 0%);

	transition-duration: 300ms;
}

@media (min-width: 1024px) {
	.backButton:hover > div {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transform: translate(0%, 0%);

		background: rgba(31, 31, 31, 0.2);
		filter: blur(40px);
	}
}

@media (max-width: 580px) {
	.backButton {
		width: 50px;
	}
}
