.backButton {
	position: fixed;

	z-index: 9999;
	top: 0;
	left: 0;

	display: grid;
	align-items: center;

	width: 70px;
	height: 100vh;

	cursor: pointer;

	justify-items: center;
}

.backButton:active > div {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform: translate(0%, 0%);

	background: rgba(31, 31, 31, 0.2);
	filter: blur(40px);
}

.darkThemeBackButton:active > div {
	background: rgba(227, 227, 227, 0.2);
}

.backButton:active > span {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform: translate(0%, 0%);
}

.arrowBack {
	position: absolute;
	z-index: 99999;

	transition-duration: 300ms;
	transform: translate(-100%, 0%);

	color: var(--white);

	font-size: 3rem;
	line-height: 1;
}

.darkThemeArrowBack {
	color: var(--darkTheme);
}

.blurBlock {
	width: 100%;
	height: 100%;

	transition-duration: 300ms;
	transform: translate(-100%, 0%);
}

@media (min-width: 1024px) {
	.backButton:hover > div {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transform: translate(0%, 0%);

		background: rgba(31, 31, 31, 0.2);
		filter: blur(40px);
	}

	.darkThemeBackButton:hover > div {
		background: rgba(227, 227, 227, 0.2);
	}

	.backButton:hover > span {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transform: translate(0%, 0%);
	}
}

@media (max-width: 1024px) {
	.backButton {
		width: 50px;
	}

	.arrowBack {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

@media (max-width: 580px) {
	.backButton {
		width: 30px;
	}

	.arrowBack {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

@media (max-width: 400px) {
	.backButton {
		width: 20px;
	}

	.arrowBack {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
