.blockLanguages {
	display: block;
}

.langLink {
	margin: 5px 20px 5px 20px;

	cursor: pointer;
	transition-duration: 300ms;
}

.lang {
	cursor: pointer;
	transition-duration: 300ms;
}

.lang:active,
.langLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

@media (min-width: 1024px) {
	.lang:hover,
	.langLink:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}
