.authForm {
    display: grid;
    width: 80%;
    max-width: 300px;
	height: fit-content;
    gap: 12px;
    justify-items: center;
    padding: 40px;
    background: var(--white);
    border-radius: 20px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

@media (max-width: 580px) {
    .authForm {
        padding: 30px;
    }
}

@media (max-width: 400px) {
    .authForm {
        padding: 10px;
    }
}