.authForm {
    display: grid;
	height: fit-content;
    gap: 10px;
    justify-content: center;
}

.label {
	position: relative;
}

.icon {
	color: var(--dark);
	cursor: pointer;
	position: absolute;
	top: auto;
	bottom: 0px;
	right: 0;
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin-right: 8px;
	transition-duration: 300ms;
}

.icon:hover {
	color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}