.profileStatsBar {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	justify-items: center;
	width: 50%;
	height: 40px;
	margin-top: 20px;

	border-radius: 9999px;
	background: var(--white);
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

@media (max-width: 1150px) {
	.profileStatsBar {
		width: 70%;
	}
}

@media (max-width: 800px) {
	.profileStatsBar {
		width: 85%;
		height: 30px;
	}
}
