.profileStatsBar {
	z-index: 10000;

	display: grid;

	align-items: center;

	width: 50%;
	height: 40px;
	margin-top: 20px;

	transition-duration: 300ms;

	border-radius: 9999px;
	background: var(--white);
	grid-template-columns: 1fr auto 1fr;
	justify-items: center;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.darkThemeProfileStatsBar {
	transition-duration: 300ms;

	background: var(--dark);
}

@media (max-width: 1150px) {
	.profileStatsBar {
		width: 70%;
	}
}

@media (max-width: 800px) {
	.profileStatsBar {
		width: 85%;
		height: 30px;
	}
}
