.statItems {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: center;
	gap: 15px;
}

.items {
	display: grid;

	width: 50px;
	grid-template-columns: repeat(3, 33.3%);
}

.items > div:nth-child(1) {
	z-index: 3;
}

.items > div:nth-child(2) {
	z-index: 2;
}

.items > div:nth-child(3) {
	z-index: 1;
}

.item {
	width: 20px;
	height: 20px;

	transition-duration: 300ms;

	border: 3px solid var(--white);
	border-radius: 9999px;
}

.darkThemeItem {
	transition-duration: 300ms;

	border: 3px solid var(--dark);
}

@media (max-width: 850px) {
	.statItems {
		gap: 10px;
	}

	.items {
		width: 35px;
	}

	.item {
		width: 15px;
		height: 15px;

		border: 2px solid var(--white);
	}
}

@media (max-width: 650px) {
	.statItems {
		gap: 0;
	}

	.items {
		display: none;
	}
}
