.label {
	position: relative;

	width: 90%;
	margin-left: -25px;
}

.icon {
	position: absolute;
	top: auto;
	right: 0;
	bottom: 0;

	margin-right: -10px;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--dark);

	font-size: 1.25rem;
	line-height: 1.75rem;
}

.icon:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}