.userSpecificiesBlock {
	z-index: 10000;

	display: grid;
	align-items: center;

	margin-top: 5px;
	padding: 10px 20px;

	cursor: pointer;

	transition-duration: 300ms;

	border-radius: 9999px;

	background: var(--white);

	gap: 2px;
	grid-template-columns: auto auto;
}

.darkThemeUserSpecificiesBlock {
	transition-duration: 300ms;

	background: var(--darkTheme);
}

.userSpecificies {
	transition-duration: 300ms;

	font-weight: 500;
}

.userSpeciality {
	background: linear-gradient(266.81deg, #6100FF 6.74%, #8400EC 49.69%, #FF00C7 93.54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-clip: text;
}

.moreInfo {
	display: grid;
	align-items: center;

	transition-duration: 300ms;

	color: var(--dark);
}

.userSpecificiesBlock:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--lighter);
}

.darkThemeUserSpecificiesBlock:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--dark);
}

.userSpecificiesBlock:active > .moreInfo {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.darkThemeText {
	transition-duration: 300ms;

	color: var(--white);
}

@media (min-width: 1024px) {
	.userSpecificiesBlock:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--lighter);
	}

	.darkThemeUserSpecificiesBlock:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--dark);
	}

	.userSpecificiesBlock:hover > .moreInfo {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 580px) {
	.userSpecificiesBlock {
		margin-top: 0;
		padding: 5px 20px;
	}
}
