.userSpecificiesBlock {
	display: grid;
	align-items: center;

	margin-top: 5px;
	gap: 2px;
	grid-template-columns: auto auto;
}

.userSpecificies {
	transition-duration: 300ms;

	font-weight: 500;
}

.userSpeciality {
	background: linear-gradient(266.81deg, #6100FF 6.74%, #8400EC 49.69%, #FF00C7 93.54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.moreInfo {
	display: grid;
	align-items: center;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--dark);
}

.moreInfo:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--promary);
}

.darkThemeText {
	transition-duration: 300ms;

	color: var(--white);
}

@media (min-width: 1024px) {
	.moreInfo:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}
