.formChange {
	width: max-content;
	margin-top: 80px;
}

.signSpan {
	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;

	color: var(--dark);

	font-weight: 600;
}

.signSpan:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.authChange {
	text-align: center;
}

@media (min-width: 1024px) {
	.signSpan:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}
