.wrapper {
	margin: 0 20px 10px;
}

.buttonForm {
	position: relative;

	display: grid;
	overflow: hidden;
	align-items: center;

	width: 250px;
	height: 100px;

	cursor: pointer;

	border: 2px solid var(--white);
	border-radius: 9999px;
	box-shadow: inset 0 10px 20px rgb(0 0 0 / 0.3);
	grid-template-columns: auto;
	filter: drop-shadow(0 3px 10px rgb(0 0 0 / 0.1));
}

.circle {
	position: absolute;
	z-index: 3;

	display: grid;
	align-items: center;

	width: 80px;
	height: 80px;
	margin: 0 10px 0 10px;

	border-radius: 9999px;
	box-shadow: inset 0 -7px 5px rgb(0 0 0 / 0.3);
	justify-items: center;
	filter: drop-shadow(5px 7px 7px rgb(0 0 0 / 0.5));
}

.clouds1,
.clouds2 {
	position: absolute;

	width: 250px;
}

.clouds1 {
	z-index: 2;
}

.clouds2 {
	z-index: 1;
}

.stars {
	position: absolute;
	z-index: 1;

	width: 250px;
}

.crater1,
.crater2,
.crater3 {
	position: absolute;

	border-radius: 9999px;
	background: #979DAF;
	box-shadow: inset 0 3px 5px rgb(0 0 0 / 0.3);
	filter: drop-shadow(0 3px 10px rgb(0 0 0 / 0.1));
}

.crater1 {
	width: 25px;
	height: 25px;
	margin: 12px 25px 0 0;
}

.crater2,
.crater3 {
	width: 15px;
	height: 15px;
}

.crater2 {
	margin-bottom: 40px;
}

.crater3 {
	margin: 20px 0 0 35px;
}
