.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.startBlock {
    display: block;
    width: 100%;
    height: 100vh;
    background: var(--primary);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 100%;
    }

    .startBlock {
        display: none;
    }
}