.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.startBlock {
    height: 100vh;
    background: var(--primary);
}

@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 100%;
    }
}