.messageUserInfoBlock {
	display: grid;
	align-items: center;

	height: 34px;
	padding: 0 10px;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 10px;
	background: var(--white);
}

.darkThemeMessageUserInfoBlock {
	background: var(--darkTheme);
}

.messageUserInfoBlock:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--lighter);
}

.darkThemeMessageUserInfoBlock:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--dark);
}

.username {
	color: var(--primary) !important;

	font-weight: 600 !important;
}

@media (min-width: 1024px) {
	.messageUserInfoBlock:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--lighter);
	}

	.darkThemeMessageUserInfoBlock:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--dark);
	}
}

@media (max-width: 580px) {
	.messageUserInfoBlock {
		height: 29px;
	}
}
