.profileWrapper {
	display: grid;

	width: 100%;

	background: var(--white);
	justify-items: center;
	transition-duration: 300ms;
}

.darkThemeWrapper {
	background: var(--darkTheme);
	transition-duration: 300ms;
}
