.profileCover {
    width: 100%;
    height: 220px;
    position: fixed;
    z-index: 9998;
    user-select: none;
    cursor: pointer;
}

@media (max-width: 580px) {
	.profileCover {
		height: 180px;
	}
}