.lang {
	width: fit-content;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--dark);
	cursor: pointer;
	transition-duration: 300ms;
}

.lang:active {
	color: var(--primary);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.m {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--dark);
}

@media (min-width: 1024px) {
	.lang:hover {
		color: var(--primary);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media (max-width: 300px) {
	.m, 
	.lang {
		font-size: 0.75rem;
		line-height: 1rem;
	}
}