.profileOptions {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;

	display: grid;
	align-items: center;

	margin: 15px;

	transition-duration: 300ms;
	transition-property: color, background-color;

	border-radius: 9999px;

	background: var(--white);
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.darkThemeProfileOptions {
	transition-duration: 300ms;

	background: var(--darkTheme);
}

.hidden {
	z-index: 9999;
}

.blockProfileOptions {
	display: grid;
	align-items: center;
}

.optionsButton {
	display: grid;
	align-items: center;

	padding: 7px;

	cursor: pointer;
	transition-duration: 300ms;

	transition-property: color, background-color;

	color: var(--dark);
	border-radius: 9999px;
	background: var(--white);

	font-size: 1.5rem;
	line-height: 2rem;
	justify-items: center;
}

.optionsButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.darkThemeOptionsButton {
	color: var(--white);
	background: var(--darkTheme);
}

@media (min-width: 1024px) {
	.optionsButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 580px) {
	.optionsButton {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
