.userCover {
	position: fixed;
	z-index: 9998;

	width: 100%;
	height: 220px;

	user-select: none;
}

.profileCover {
	cursor: pointer;
}

@media (max-width: 580px) {
	.userCover {
		height: 180px;
	}
}
