.confirmEmail {
	width: 90%;
	height: 40px;
	margin: 10px 0 20px 0;

	border-radius: 20px;
	background: var(--light);
	color: var(--primary);

	border: 1px solid var(--dark);
	border-radius: 9999px;
	transition-duration: 300ms;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.confirmEmail:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	border-color: var(--primary);
}

.confirmEmail:focus {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	outline-color: var(--primary);
}

.errorConfirmEmail,
.errorConfirmEmail:hover,
.errorConfirmEmail:focus {
	border: 1px solid var(--error) !important;
	outline: 1.5px solid var(--error) !important;
}

@media (max-width: 400px) {
	.confirmEmail {
		margin-bottom: 10px;
	}
}
