.authBlock {
	display: grid;
	align-items: center;

	height: 100vh;
	min-height: 600px;
	margin-bottom: 20px;
	grid-template-columns: 50% 50%;
	justify-items: center;
}

.authBlockImage {
	display: block;

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (max-width: 1024px) {
	.authBlock {
		grid-template-columns: 100%;

		height: 80vh;
	}

	.authBlockImage {
		display: none;
	}
}
