.exitButton {
	position: fixed;
	top: 0;
	right: 0;

	margin: 20px 15px 0 0;

	cursor: pointer;

	transition-duration: 300ms;

	color: var(--dark);

	font-size: 1.5rem;
	line-height: 2rem;
	z-index: 10000;

	display: grid;
	align-items: center;
	background: var(--white);
	padding: 7px;
	border-radius: 9999px;
}

.exitButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.darkThemeExitButton {
	background: var(--darkTheme);

	color: var(--white);
}

@media (min-width: 1024px) {
	.exitButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 580px) {
	.exitButton {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
