.exitButton {
	position: absolute;
	top: 0;
	right: 0;

	margin: 10px 10px 0 0;

	cursor: pointer;

	transition-duration: 300ms;

	color: var(--dark);

	font-size: 1.875rem;
	line-height: 2.25rem;
}

.exitButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.darkThemeExitButton {
	color: var(--white);
}

@media (min-width: 1024px) {
	.exitButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 580px) {
	.exitButton {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
