.userContentImageFull {
	cursor: pointer;
	user-select: none;

	border-radius: 10px;
}

.widthFull {
	width: max-content;
	height: 80vh;
}

.heightFull {
	width: 80vw;
	height: max-content;
}

.commentsList {
	display: grid;
	overflow-y: scroll;
	align-items: center;

	max-height: 50vh;
	gap: 20px;
}

@media (max-width: 300px) {
	.userContentImageFull {
		border-radius: 10px;
	}
}
