.contentActionsBar {
	display: grid;
	align-items: center;

	height: fit-content;
	margin: 20px 20px 0 20px;
	padding: 20px 0 10px 0;

	transition-duration: 300ms;

	border-top: 1px solid var(--light);
	grid-template-columns: auto auto 1fr;
	justify-items: right;
	gap: 15px;
}

.darkThemeContentActionsBar {
	transition-duration: 300ms;

	border-top: 1px solid var(--darkTheme_light);
}

.likesBlock,
.commentsBlock {
	display: grid;

	align-items: center;

	width: fit-content;
	grid-template-columns: auto auto;
	gap: 7px;
}

.commentsBlock {
	margin-left: 5px;
}

.like,
.comment {
	display: grid;

	width: 17px;
	height: 17px;

	cursor: pointer;
	transition-duration: 300ms;

	fill: var(--light);
}

.darkThemeLike,
.darkThemeComment {
	transition-duration: 300ms;

	fill: var(--darkTheme_light);
}

.like:active,
.comment:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	transform: scale(1.1);
}

.likeActive {
	fill: var(--like);
}

.contentActionsText {
	transition-duration: 300ms;

	font-weight: 500;
}

.darkThemeContentActionsText {
	transition-duration: 300ms;

	color: var(--white) !important;
}

@media (min-width: 1024px) {
	.like:hover,
	.comment:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		transform: scale(1.1);
	}
}

@media (max-width: 580px) {
	.contentActionsBar {
		height: 20px;
		margin: 10px 10px 0 10px;
	}

	.contentActionsText {
		font-size: 0.6rem;
		line-height: 1rem;
	}

	.like,
	.comment {
		width: 15px;
		height: 15px;
	}
}
