.burger,
.close {
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    justify-self: left;
    align-items: center;
}

.close {
    width: 15px;
    height: 15px;
}

.burger svg,
.close svg  {
    fill: var(--white);
    transition-duration: 300ms;
}

.burger svg:active,
.close svg:active {
    fill: var(--light);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1024px) {
    .burger svg:hover,
    .close svg:hover {
        fill: var(--light);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media (max-width: 1024px) {
    .burger,
    .close {
        display: grid;
        justify-self: right;
        margin-right: 20px;
    }

    .close {
        margin-right: 22.5px;
    }
}