.imageWrapper {
	position: relative;

	display: grid;
	align-items: center;

	width: 160px;
	height: 160px;
	justify-items: center;
}

.profileImage {
	position: absolute;

	width: 150px;
	height: 150px;

	border-radius: 9999px;
	background: var(--primary);
}

.imageRing,
.imageRingShadow {
	position: absolute;

	width: 100%;
	height: 100%;

	border-radius: 9999px;
	background: linear-gradient(225.38deg, #6100FF 16.13%, #8400EC 49.5%, #FF00C7 85.03%);
}

.imageRingShadow {
	filter: blur(5px);
}

@media (max-width: 580px) {
	.imageWrapper {
		width: 110px;
		height: 110px;
	}

	.profileImage {
		width: 100px;
		height: 100px;
	}
}
