.contentWrapper {
	display: grid;
	width: 100%;

	justify-items: center;

	transition-duration: 300ms;

	background: var(--white);
}

.darkThemeWrapper {
	transition-duration: 300ms;

	background: var(--darkTheme);
}

.headerContent {
	gap: 40px;
}

.contentUserIcon {
	margin-right: 20px;
}

@media (max-width: 580px) {
	.headerContent {
		gap: 20px;
	}

	.userIcon {
		margin-right: 15px;
	}
}
